<div class="lineFooter"></div>
<footer>
  <div>
    <div class="logo" onclick="window.location.href='#';">
      <img src="assets/imgs/name.png" alt="" />
    </div>
    <a href="impressum" target="_blank">Impressum</a>
  </div>
  <div>© Dustin Rohrschneider 2023</div>
  <div class="footerLinks iconLinks">
    <a href="https://github.com/DustinRs" target="_blank"
      ><img src="assets/icons/gitIcon.png" alt=""
    /></a>
    <a href="mailto:drohrschneider@web.de" target="_blank"
      ><img src="assets/icons/mailIcon.png" alt=""
    /></a>
    <a href="https://www.linkedin.com/in/dustin-rohrschneider-613b482aa/" target="_blank"><img src="assets/icons/inIcon.png" alt="" /></a>
  </div>
</footer>
