@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

.lineFooter {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #e86f00;
  position: relative;
  z-index: 3;
}

footer {
  @include dFlex($jc: space-between);
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 3;
  > div {
    margin: 0;
  }
}

.logo {
  &:hover {
    cursor: pointer;
  }
  > img {
    width: 120px;
  }
}
.divLeft {
  padding-left: 120px;
}
.footerLinks {
  width: 240px;
  margin-right: 120px !important;
}

.iconLinks {
  @include dFlex($g: 24px);
  padding: 16px 16px 16px 0;
  > a:hover {
    transition: 0.2s ease-in-out 0s;
    transform: scale(1.2);
  }
}

.mobileImpressum {
  display: none;
}

@media (max-width: 1040px) {
  footer {
    @include dFlex($fd: column, $g: 24px);
  }

  .divLeft {
    padding-left: 0px;
  }
  .footerLinks {
    width: 240px;
    margin-right: 0px !important;
    padding-right: 0;
  }

  .impressum {
    display: none;
  }

  .mobileImpressum {
    display: block;
  }
  .logo {
    &:hover {
      cursor: pointer;
    }
    > img {
      width: 200px;
    }
  }
}
