<section>
  <img class="imgLeft" src="assets/imgs/aboutRedShadow.png" alt="" />
  <div class="divName">
    <div class="animate__animated animate__zoomIn"><span class="iam transparent">I am</span></div>
    <div class="nameDiv">
      <h1 class="animate__animated animate__zoomIn animate__delay-1s">Dustin Rohrschneider</h1>
      <h2 class="red animate__animated animate__zoomIn animate__delay-2s">FRONTEND DEVELOPER</h2>
    </div>
  </div>
  <button class="animate__animated animate__zoomIn animate__delay-4s" onclick="window.location.href='#CONTACT';">lets talk!</button>
  <div class="iamBottom">
    <div class="iconLinks animate__animated animate__zoomIn animate__delay-3s">
      <div class="line"></div>
      <a href="https://github.com/DustinRs" target="_blank" class="transparent"
        ><img class="transparent" src="assets/icons/gitIcon.png" alt=""
      /></a>
      <a href="mailto:drohrschneider@web.de" class="transparent" target="_blank"
        ><img class="transparent" src="assets/icons/mailIcon.png" alt=""
      /></a>
      <a href="https://www.linkedin.com/in/dustin-rohrschneider-613b482aa/" target="_blank" class="transparent"
        ><img class="transparent" src="assets/icons/inIcon.png" alt=""
      /></a>
    </div>
    <div class="scrollDiv animate__animated animate__zoomIn animate__delay-3s">
      <span class="scroll transparent">scroll down </span
      ><img class="transparent animate__animated animate__zoomIn animate__delay-4s animate__infinite" src="assets/icons/arrow-down-line.png" alt="" />
      <img class="transparent animate__animated animate__zoomIn animate__delay-4s animate__infinite" src="assets/icons/arrow-down-line.png" alt="" />
      <img class="transparent animate__animated animate__zoomIn animate__delay-4s animate__infinite" src="assets/icons/arrow-down-line.png" alt="" />
    </div>
  </div>
  <img class="imgRight" src="assets/imgs/aboutPurbleShadow.png" alt="" />
</section>
