<nav>
  <div class="logo" onclick="window.location.href='#';">
    <img src="assets/imgs/name.png" alt="" />
  </div>
  <div class="navLinks">
    <a
      id="aboutMeLink"
      class="navA"
      (click)="isActive('aboutMeLink')"
      href="#ABOUTME"
      >About me</a
    >
    <a
      id="skillsLink"
      class="navA"
      (click)="isActive('skillsLink')"
      href="#SKILLS"
      >Skills</a
    >
    <a
      id="portfolioLink"
      class="navA"
      (click)="isActive('portfolioLink')"
      href="#PORTFOLIO"
      >Portfolio</a
    >
  </div>

  <app-mobile-menu class="mobileNavLinks"></app-mobile-menu>
</nav>
