<section>
  <div class="gapText">
    <div>
      <h1>About me</h1>
      <p>
        As a german-speaking front-end developer, I have initial project
        experience in building web applications with JavaScript, Typescript and
        Angular. My interest in programming arose from my enthusiasm for
        reprogramming applications. As a result, I decided to pursue further
        training in the IT sector. In the last few months I have been able to
        implement various projects independently and together in small agile
        teams. My portfolio includes some of my projects that highlight my
        programming skills.
      </p>
    </div>
    <div class="aboutMeText">
      <img src="assets/icons/light.png" alt="" />
      <p>
        My experience includes developing landing pages, a range of web
        applications including business apps and object-oriented “jump and run”
        games.
      </p>
    </div>
    <div class="aboutMeText">
      <img src="assets/icons/puzzle.png" alt="" />
      <p>
        As a former educator, I am used to taking responsibility and working in
        a structured and conscientious manner. I bring these characteristics
        into web development. For example in team projects with other
        developers.
      </p>
    </div>
  </div>
  <div class="profilePicture">
    <img class="profileBack" src="assets/imgs/aboutMeShadows.png" alt="" />
    <img class="profilePic" src="assets/imgs/hero character photo.png" alt="" />
  </div>
</section>
