<section>
  <div class="gapText">
    <div>
      <h1>About me</h1>
      <p>
        I am a german-speaking frontend developer and have experience in
        JavaScript, Typescript and Angular. My interest in programming started in
        my free time through my enthusiasm for reprogramming applications.
      </p>
    </div>
    <div class="aboutMeText">
      <img src="assets/icons/light.png" alt="" />
      <p>
        As a result, I decided to complete a practice-oriented and TÜV-certified
        further education at the Developer Academy and thus make a lateral entry
        into the IT world.
      </p>
    </div>
    <div class="aboutMeText">
      <img src="assets/icons/puzzle.png" alt="" />
      <p>
        There I worked on various projects, gained experience with web
        development, worked with various technologies and worked together in
        groups using the SCRUM method.
      </p>
    </div>
  </div>
  <div class="profilePicture">
    <img class="profileBack" src="assets/imgs/aboutMeShadows.png" alt="" />
    <img class="profilePic" src="assets/imgs/hero character photo.png" alt="" />
  </div>
</section>
