<section>
  <div class="gapText">
    <div>
      <h1>About me</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
        expedita aliquam suscipit fugit inventore labore officia in ullam, magni
        sequi accusamus at, tenetur nemo iure hic est adipisci. Facilis, non!
      </p>
    </div>
      <div class="aboutMeText">
        <img src="assets/icons/light.png" alt="" />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
          dolores veniam unde itaque fuga a iste molestias at reiciendis
          accusamus quam quibusdam perferendis, ab, deserunt sunt laudantium
          voluptas architecto ipsam!
        </p>
      </div>
      <div class="aboutMeText">
        <img src="assets/icons/puzzle.png" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iste id
          porro dignissimos nostrum, amet incidunt accusantium tempore quo
          beatae vero. Molestiae dicta voluptatibus praesentium libero vel
          magnam, enim soluta?
        </p>
      </div>
  </div>
  <div class="profilePicture">
    <img class="profileBack" src="assets/imgs/aboutMeShadows.png" alt="" />
    <img class="profilePic" src="assets/imgs/hero character photo.png" alt="" />
  </div>
  
</section>
