<div class="topContact">
  <h1>Contact</h1>
  <div class="lineContact"></div>
</div>

<section>
  <img
    class="shadowBottomContact"
    src="assets/imgs/RedShadowFooter.png"
    alt=""
  />
  <div class="leftSection">
    <div class="lineDiv">
      <div class="linePink"></div>
      <h2>Got a problem to solve?</h2>
    </div>
    <div class="gotProblem">
      <div>
        <p>
          Contact me through this form, i am interested in hearing<br />you,
          knowing your ideas and contributing to your projects<br />with my
          work.
        </p>
      </div>
      <div>
        <p>Need a Frontend developer? <b>Contact me!</b></p>
      </div>
    </div>
  </div>

  <div class="rightSection">
    <form
      autocomplete="off"
      id="myForm"
      (submit)="sendMail()"
      method="post"
      ngNativeValidate
      #myForm
    >
      <label id="labelName"
        ><input
          autocomplete="off"
          id="name"
          (click)="addNameListener()"
          type="text"
          name="name"
          required
          placeholder="Your name"
          #nameField /><i><img id="iconName" src="" alt="" /></i
      ></label>

      <div id="nameRequired">
        <span>Your name is required</span>
      </div>
      <label id="labelEmail"
        ><input
          autocomplete="off"
          id="email"
          (click)="addEmailListener()"
          type="email"
          name="email"
          required
          placeholder="Your email"
          #emailField /><i><img id="iconEmail" src="" alt="" /></i
      ></label>

      <div id="emailRequired">
        <span>Your email is required</span>
      </div>
      <div></div>
      <label id="labelMessage" class="messageDiv">
        <textarea
          id="message"
          name="message"
          (click)="addMessageListener()"
          required
          placeholder="Your message"
          #messageField
        ></textarea
        ><i><img id="iconMessage" src="" alt="" /></i>
      </label>

      <div id="messageRequired">
        <span>Your message is required</span>
      </div>
      <label class="checkBox">
        <input type="checkbox" name="checkbox" required #checkboxField />
        <span class="checkmark"></span>
        <span class="agreeText">
          I've read the

          <a href="privacyPolicy" target="_blank">privacy policy</a>

          and agree to the processing of my data as outlined.
        </span>
      </label>
      <button id="sendButton" #sendButton >Send message :)</button>
    </form>
  </div>
  <a class="goUpIcon" href="#"><img src="assets/icons/goUp.png" alt="" /></a>
</section>
