<div class="topContact">
  <h1>Contact</h1>
  <div class="lineContact"></div>
</div>

<section>
  <img
    class="shadowBottomContact"
    src="assets/imgs/RedShadowFooter.png"
    alt=""
  />
  <div class="leftSection">
    <div class="lineDiv">
      <div class="linePink"></div>
      <h2>Got a problem to solve?</h2>
    </div>
    <div class="gotProblem">
      <div>
        <p>
          Contact me through this form, i am interested in hearing<br />you,
          knowing your ideas and contributing to your projects<br />with my
          work.
        </p>
      </div>
      <div>
        <p>Need a Frontend developer? <b>Contact me!</b></p>
      </div>
    </div>
  </div>

  <div class="rightSection">
    <form id="myForm" (submit)="sendMail()" method="post" ngNativeValidate #myForm>
      
      <input type="text" name="name" required placeholder="Your name" #nameField/>
      <input type="email" name="email" required placeholder="Your email" #emailField/>
      <textarea name="message" required placeholder="Your message" #messageField></textarea>
      <label class="checkBox">
        <input type="checkbox" name="checkbox" #checkboxField />
        <span class="checkmark"></span>
        <span>
          I've read the <span> <a href="">privacy policy</a> </span> and agree
          to the processing of my data as outlined.
        </span>
      </label>
      <button #sendButton>Send message :)</button>
    </form>
  </div>
  <a class="goUpIcon" href="#"><img src="assets/icons/goUp.png" alt=""></a>
</section>

