@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}


section {
  @include dFlex($jc: center, $g: 80px);
  padding: 160px 0 160px 120px;
  position: relative;
  z-index: 2;
  background-color: transparent !important;
}

div {
  background-color: transparent !important;
}

h1 {
  font-size: 80px;
}

.iconsSkills {
  @include dFlex($fd: column, $ai: flex-start, $g: 80px);
  z-index: 3;
  margin: 0;
}

.rows {
  @include dFlex($jc: flex-start, $ai: center, $g: 80px);
  margin: 0;
}

.iconSkill {
  @include dFlex($fd: column, $g: 8px);
  width: 80px;
  > img {
    margin: 0;
    background-color: transparent;
    &:hover{
      animation: jump 1s;
      cursor: pointer;
    }
  }
  > span {
    margin: 0;
    background-color: transparent;
  }
}

@keyframes jump {
  0% { transform: translate(0px, -1px) rotate(0deg); }
  100% { transform: translate(0px, -20px) rotate(0deg); }
}

.skillRight {
  @include dFlex($fd: column, $ai: flex-start, $g: 40px);
  position: absolute;
  right: 0;
  padding: 24px 0 24px 24px;
  z-index: 3;
  margin: 0;
}

.skillHead {
  @include dFlex($jc: space-between, $g: 40px);
}

.skillLine {
  width: 300px;
  height: 4px;
  border-radius: 4px;
  background-color: #d61ce6 !important;
}

button {
  border: unset;
  border-radius: 8px;
  background-color: #e86f00;
  padding: 8px 16px 8px 16px;
  transition: 0.2s ease-in-out 0s;
  &:hover {
    cursor: pointer;
    background-color: #e24244;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.vector {
  position: absolute;
  top: -170px;
  left: 0;
  z-index: 2;
  background-color: transparent;
  width: 100%;
}

@media (max-width: 1600px) {
  .section {
    @include dFlex($jc: space-between, $g: 80px);
  }
  .skillRight {
    position: relative;
  }
}

@media (max-width: 1320px) {
  .iconsSkills {
    @include dFlex($fd: column, $ai: flex-start, $g: 40px);
  }
  
  .rows {
    @include dFlex($jc: flex-start, $ai: center, $g: 40px);
  }
  .skillLine {
    width: 240px;
  }
}

@media (max-width: 1280px) {
h1{
  font-size: 72px;
}
section{
  font-size: 14px;
}
}

@media (max-width: 1140px) {
  h1{
    font-size: 56px;
    background-color: transparent;
  }
  section{
    font-size: 12px;
  }

  .skillLine {
    width: 200px;
  }
  .iconSkill{
    
  }
}

@media (max-width: 1018px) {
  section {
    @include dFlex($fd:column-reverse,$jc: center, $ai: flex-end, $g: 80px);
    padding: 80px 0 80px 0;
    position: relative;
    z-index: 2;
    background-color: transparent !important;
  }

  .skillRight{
    padding: 0;
    >p {
      margin: 0;
    }
    >button {
      margin: 0;
    }
  }

  .skillHead {
    margin: 0;
  }

  .skillLine {
    width: 45vw;
  }

  .iconsSkills {
    position: relative;
    right: 29vw;
  }
}

@media (max-width: 970px) {
  .iconsSkills {
    right: 17vw;
  }
}

@media (max-width: 740px) {
  .iconsSkills {
    right: 15vw;
  }
  .skillRight {
    >p{
      padding-right: 60px;
    }
  }
}

@media (max-width: 640px) {
  .iconsSkills {
    right: 11vw;
  }
}
@media (max-width: 550px) {
  .iconsSkills {
    right: 7vw;
  }
  
  .iconSkill{
    >img{
      width: 60%;
    }
  }
  .skillHead {
    position: relative;
  }
  .skillLine {
    position: absolute;
    left: 203px;
    width: 200px;
  }
}

@media (max-width: 50px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  .iconsSkills {
    right: 0;
    left: 0px;
  }
  .skillLine {
    position: absolute;
    left: 186px;
    width: 17vw;
  }

  .skillRight {
    align-items: center;
    >p{
      padding-right: 0px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  section {
    align-items: center;
  }
}



@media (max-width: 430px) {
  .iconSkill{
    width: 64px;
    >img{
      width: 50%;
    }
  }
  .iconsSkills {
    gap: 12px;
  }
  .rows {
    gap: 12px;
  }
  .skillHead {
    gap: 12px;
  }
}

@media (max-width: 360px) {
  .iconsSkills {
    gap: 4px;
  }
  .rows {
    gap: 4px;
  }

  .skillLine {
    position: relative;
    left: 25px;
    width: 20vw;
  }
}