<section>
  <img class="vector" src="assets/imgs/Vector.png" alt="" />
  <div class="iconsSkills">
    <div class="rows">
      <div class="iconSkill">
        <img src="assets/icons/JavScript.png" alt="" /><span>Javascript</span>
      </div>

      <div class="iconSkill">
        <img src="assets/icons/Angular.png" alt="" /><span>Angular</span>
      </div>

      <div class="iconSkill">
        <img src="assets/icons/Typescript.png" alt="" /><span>Typescript</span>
      </div>

      <div class="iconSkill">
        <img src="assets/icons/html.png" alt="" /><span>HTML</span>
      </div>
    </div>
    <div class="rows">
      <div class="iconSkill">
        <img src="assets/icons/Git.png" alt="" /><span>GIT</span>
      </div>

      <div class="iconSkill">
        <img src="assets/icons/Firebase.png" alt="" /><span>Firebase</span>
      </div>

      <div class="iconSkill">
        <img src="assets/icons/css.png" alt="" /><span>CSS</span>
      </div>
    </div>
    <div class="rows">
      <div class="iconSkill">
        <img src="assets/icons/Scrum.png" alt="" /><span>Scrum</span>
      </div>

      <div class="iconSkill">
        <img src="assets/icons/Api.png" alt="" /><span>Rest-Api</span>
      </div>
    </div>
    <div class="rows">
      <div class="iconSkill">
        <img src="assets/icons/Materialdesign.png" alt="" /><span
          >Material<br />design</span
        >
      </div>
    </div>
  </div>
  <div class="skillRight">
    <div class="skillHead">
      <h1>Skills</h1>
      <div class="skillLine"></div>
    </div>
    <p>
      I have gained experience in building projects with various<br />front end
      technologies and concepts.
    </p>
    <button onclick="window.location.href='#CONTACT';">Get in touch</button>
  </div>
</section>
