@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

* {
  overflow-x: clip;
}

section {
  @include dFlex($fd: column, $ai: start, $g: 20px);
  position: relative;
  z-index: 2;
  > div {
    position: relative;
    margin: 0;
    > div {
      position: relative;
      z-index: 3;
      > p {
        position: relative;
        z-index: 3;
      }
    }
  }
}

.topPortfolio {
  @include dFlex($jc: start, $g: 40px);
  z-index: 3;
  background-color: transparent;
  > div {
    background-color: transparent;
    z-index: 3;
  }
}

.shadow {
  position: absolute;
  top: -200px;
  right: -360px;
  background-color: transparent;
  z-index: 1;
}

p {
  position: relative;
  padding-left: 120px;
  padding-bottom: 40px;
  z-index: 4;
  background-color: transparent;
}

h1 {
  font-size: 80px;
  background-color: transparent;
}

.lineRed {
  width: 80px;
  height: 4px;
  border-radius: 4px;
  background-color: #e24244 !important;
}

.projectsDiv {
  @include dFlex($g: 20px);
  flex-wrap: wrap;
  z-index: 8;
  background-color: transparent;
  width: 100%;
  > div {
    @include dFlex();
    border-radius: 16px;
    border: 1px solid #e86f00;
    margin: 0;
    overflow: hidden;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    > a {
      > img {
        display: block;
        
      }
    }
  }
}

.shadowBottom {
  position: absolute;
  left: -600px;
  bottom: -200px;
  background-color: transparent;
}

.overlayImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include dFlex($fd:column,$g: 80px);
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 99;
  >div{
    margin: 0;
  }
}

.buttonDiv {
  @include dFlex($jc:space-around);
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
}

button {
  border: unset;
  border-radius: 8px;
  background-color: #e86f00;
  padding: 8px 16px 8px 16px;
  transition: 0.2s ease-in-out 0s;
  margin: 0;
  z-index: 2;
  &:hover {
    cursor: pointer;
    background-color: #e24244;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.descriptionOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  border: 1px solid white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background-color: white;
  @include dFlex($fd:column,$g: 16px);
  >h1 {
    color: #e24244;
    font-size: 48px;
  }
  >p{
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    background-color: white;
    color: #000000;
  }
}
.orange {
  color: #e86f00 !important;
}

.d-none{
  display: none !important;
}

.zoom {
  
    transition: 0.5s ease-in-out 0s;
    transform: scale(1.7);
  
}

@media (max-width: 1439px) {
  .projectsDiv {
    @include dFlex($fd: column, $jc: center, $g: 20px);
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  section {
    font-size: 14px;
  }
  h1 {
    font-size: 72px;
  }
}

@media (max-width: 1140px) {
  section {
    font-size: 12px;
  }
  h1 {
    font-size: 56px;
  }
}

@media (max-width: 860px) {
  .projectsDiv {
    @include dFlex($fd: column, $jc: center, $ai: center, $g: 20px);
    > div {
      margin-right: 60px;
      margin-left: 60px;
      > a {
        
        > img:hover {
          transition: 0.5s ease-in-out 0s;
          transform: scale(2);
          background-image: url('/src/assets/imgs/Laptop.png');
          background-position: center;
        }
      }
    }
  }
  p {
    padding-left: 60px;
    padding-right: 60px;
  }

  .topPortfolio {
    @include dFlex($jc: start, $g: 20px);
  }
  .lineRed {
    width: 40px;
  }
}

@media (max-width: 740px) {
  img {
    width: 100%;
  }
  a {
    width: 100%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 48px;
  }
  .descriptionOverlay {
    @include dFlex($fd:column,$g: 8px);
    >h1 {
      font-size: 16px;
    }
    >p {
      font-size: 12px;
    }
    
  }
  .projectsDiv {
    > div {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

@media (max-width: 420px) {
  p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .topPortfolio {
    @include dFlex($jc: start, $g: 4px);
  }
  .lineRed {
    width: 16px;
  }
}

@media (max-width: 360px) {
  .descriptionOverlay {
    @include dFlex($fd:column,$g: 2px);
    >h1 {
      font-size: 12px;
    }
    >p {
      font-size: 10px;
    }
    
  }
}
