div{
    text-align: start;
    padding: 120px;
}

@media (max-width: 860px) {
    div{
        padding-left: 60px;
        padding-right: 60px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    div{
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 12px;
    }
}